@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900");

@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  font-family: "Muli", "Rubik", "Helvetica", "Arial", "sans-serif";
}

:root {
  --progress-bar-main-color: #007bff;
  --progress-bar-background-color: #696969;

  --ripple-select: hsl(213, 22%, 92%);
}


body {
  background-color: rgb(230, 234, 239) !important;
  padding: 0px !important;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.border-md {
  border-width: 2px;
}

.form-control {
  border-radius: 0.25rem !important;
}

.btn-facebook {
  background: #405d9d;
  border: none;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #314879;
}

.btn-twitter {
  background: #42aeec;
  border: none;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1799e4;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
  min-height: 100vh;
}

.form-control:not(select) {
  padding: 1.5rem 0.9rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.9rem;
  cursor: pointer;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
}

.form__step-header {
  font-size: 27px;
  line-height: 0px;
  font-weight: 700;
  color: #676767;
  text-align: left;
  margin: 50px auto 50px;
}

.mt-4,
.my-4 {
  margin-top: 0rem !important;
}

.pt-5,
.py-5 {
  padding-top: 1rem !important;
}

.form__step {
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: #676767;
  text-align: left;
  margin: 3.5vh 0px 2.1vh 19px;
}

.circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;

  -webkit-transition:all 1s ease;
}




#color-palette {
  display: flex;
  margin: 7px auto 7px auto !important;
}

label.greeting span {
  -webkit-box-decoration-break: clone;
  padding-left: 1em !important;
  display: block;
}

input#emailaddress {
  margin: -6px 0px 13px 0px;
}

p#addCodeOption2 {
  margin-top: 4.5vh;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  border-radius: 0px !important;
}

.funkyradio input[type="radio"]:checked ~ label#engageVisitorsOption,
.funkyradio input[type="checkbox"]:checked ~ label#engageVisitorsOption {
  border-color: #007aff;
  color: #007aff;
}

.funkyradio input[type="radio"]:checked ~ label#engageVisitorsOption1,
.funkyradio input[type="checkbox"]:checked ~ label#engageVisitorsOption1 {
  border-color: #d9534f;
  color: #d9534f;
}

.funkyradio input[type="radio"]:checked ~ label#engageVisitorsOption2,
.funkyradio input[type="checkbox"]:checked ~ label#engageVisitorsOption2 {
  border-color: #337ab7;
  color: #337ab7;
}

.funkyradio input[type="radio"]:checked ~ label#engageVisitorsOption3,
.funkyradio input[type="checkbox"]:checked ~ label#engageVisitorsOption3 {
  border-color: #5cb85c;
  color: #5cb85c;
}

.funkyradio input[type="radio"]:checked ~ label#engageVisitorsOption4,
.funkyradio input[type="checkbox"]:checked ~ label#engageVisitorsOption4 {
  border-color: #f0ad4e;
  color: #f0ad4e;
}


#welcomeMsg {
  margin-bottom: .5rem;
}

/* Portrait and Landscape */

@media (min-width: 1100px) and (max-width: 1200px) {
  .funkyradio input[type="radio"]:empty ~ label,
  .funkyradio input[type="checkbox"]:empty ~ label {
    /*text-indent: unset !important;*/
  }

  label.greeting span {
    padding-left: 54px;
  }
}

@media (min-width: 580px) and (max-width: 1100px) {
  .col-lg-6 {
    max-width: 100% !important;
  }

  .row.py-5.mt-4.align-items-center {
    width: 100% !important;
    margin: auto !important;
  }

  .container {
    max-width: calc(100% / 1.4) !important;
  }
}

@media (max-width: 990px) {
  .card {
    margin: 20px;
  }
}

@media only screen and (max-width: 992px) {
  input#cp3,
  button.btn.btn-primary.colorpicker-input-addon {
    margin-top: 3vh;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1021px !important;
  }

  .col-lg-6 {
    max-width: 55%;
  }

  .container {
    padding-left: unset;
  }
}

@media (min-width: 445px) {
  .funkyradio input[type="radio"]:empty ~ label,
  .funkyradio input[type="checkbox"]:empty ~ label {
    /*text-indent: unset !important;*/
  }

  label.greeting span {
    padding-left: 54px;
  }
}

@media (max-width: 445px) {
  .funkyradio input[type="radio"]:empty ~ label:before,
  .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: relative !important;
    width: 100% !important;
  }

  .funkyradio input[type="radio"]:checked ~ label:before,
  .funkyradio input[type="checkbox"]:checked ~ label:before {
    text-align: center !important;
  }

  label.greeting span {
    padding-left: 17px;
    line-height: 4.5vh;
    padding: 2vh 0vh;
  }
}

/***/

.col-sm-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  padding-left: 0px !important;
  max-width: 16.666667%;
}

.logoDiv {
  display: flex;
}

div#logoCircle {
  background-image: url(https://serviceform-file-storage.ams3.digitaloceanspaces.com/oZz7HrVK_1591255415_serviceformthelogoonly.png);
}

div#avatarCircle {
  background-image: url(https://serviceform.com/assets/whitelabel/addbot/addbot.jpg);
}

.circleDiv {
  margin: 10px 20px 10px auto !important;
  border-radius: 50%;
  cursor: pointer;
  background-size: 100% !important;
  background-position: center !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  height: 50px;
  width: 50px;
}

/* Ripple effect */
.ripple {
  background-position: center;
  -webkit-transition:all 1s ease;
}

.ripple:hover {
  background: hsl(213, 22%, 92%) radial-gradient(circle, transparent 1%, hsl(213, 22%, 92%) 1%)
    center/15000%;

    -webkit-transition:all 1s ease;
}

.ripple:active {
  background-color: hsl(213, 22%, 92%);
  background-size: 100%;
  -webkit-transition:all 1s ease;
}



.ripple-select {
  content: '';
  position: absolute;

  border-radius: 50%;
  box-shadow:
  0 0 0 1.5px hsl(213, 22%, 92%),
  0 0 0 2.5px var(--ripple-select);
}



.uploadcare--widget {
  margin-top: 14px;
}

button.uploadcare--widget__button.uploadcare--widget__button_type_open {
  border: 0px solid #7c7c7c !important;
}

.row {
  display: block;
}

.mb-4,
.my-4 {
  margin-bottom: 0rem !important;
}

/*Radio button*/

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 2px solid #d1d3d4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  /*text-indent: 3.25em;*/
  text-indent: unset !important;
  margin-top: 1.5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  width: 2.5em;
  background: #d1d3d4;
  border-radius: 3px 0 0 3px;
}*/

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
/*.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #c2c2c2;
}*/

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

/*.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #333;
  background-color: #ccc;
}*/

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

/*Card*/

/*body {
  font-family: "Nunito", sans-serif;
  padding: 50px;
}*/

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

/* .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card h3 {
  font-weight: 600;
}

.card img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1 {
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2 {
  background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3 {
  background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}*/

.text-snippet {
  display: block;
  padding: 14px 16px;
  background: #262627;
  border-radius: var(--border-radius);
  margin: -6px 0px 10px 0px;
  word-break: break-all;
  font-family: monospace, monospace;
  border: 1px dashed;
  color: white;
  text-align: center;
  font-size: 12px;
}

.nonselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/*Progress bar*/

div#progress-bar{
  margin-top: 2.8em;
  display:block;
  opacity: 0.4;
}

ol {
  
  list-style-type:none;
  position: relative;
  overflow: hidden;
  /*counter-reset: wizard;*/
}
li {
  list-style-type:none;
  position: relative;
  float: left;
  width: 10%;
  text-align: center;
  color: var(--progress-bar-main-color);
}
.current ~ li {
  color: #555;
}
li:before {
  /*counter-increment: wizard;*/
  /*content: counter(wizard);*/
  content: "";
  display: block;
  color: var(--progress-bar-background-color);
  background-color: var(--progress-bar-main-color);
  border: 2px solid var(--progress-bar-main-color);
  text-align: center;
  width: 0.7em;
  height: 0.7em;
  line-height: 2em;
  border-radius: 2em;
  position: relative;
  left: 325%;
  margin-bottom: 1em;
  margin-left: -1em;
  z-index: 1;
}
.current ~ li:before {
  background-color: var(--progress-bar-background-color);
  color: var(--progress-bar-background-color);
  border-color: var(--progress-bar-background-color);
}
li + li:after {
  content: "";
  display: block;
  width: 100%;
  background-color: var(--progress-bar-main-color);
  height: 0.6px;
  position: absolute;
  left: 200%;
  top: 0.35em;
  z-index: 0;
}
.current ~ li:after {
  background-color: var(--progress-bar-background-color);
}